<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask App</title>
    <h1>About</h1>
</head>
<body>

    <button onclick=redirectToHome()>Home</button>
    <button onclick=redirectToIndex()>Index</button>
    <p> This website is developed by Souvik for a demo of basic implementation of flask application.</p>


    <script>
        function redirectToHome() {
            window.location.href = "/";
        }
        function redirectToIndex() {
            window.location.href = "/index";
        }
    
    </script>
</body>
</html>