<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask App</title>
    <h1>Welcome to my flask app</h1>
</head>
<body>
    <button onclick=redirectToAbout()>About</button>
    <button onclick=redirectToHome()>Home</button>
    <button onclick=redirectToForm()>Form</button>
    <script>
        function redirectToAbout() {
            window.location.href = "/about";
        }
        function redirectToHome() {
            window.location.href = "/";
        }
        function redirectToForm() {
            window.location.href = "/form";
        }
    
    </script>
    <p> This is simple web application built with Flask</p>



    
</body>
</html>